.social-login
  button.social-login--github
    a(href=routes.githubAuth)
      span
        i.fab.fa-github
        |Continue with GitHub
  button.social-login--facebook
    a(href=routes.facebookAuth)
      span
        i.fab.fa-facebook
        |Continue with Facebook