doctype html
html
  head
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css')
  title #{pageTitle} | #{siteName}
  link(rel="stylesheet", href="/static/main.css")
  meta(http-equiv='Content-Security-Policy' content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src	'self' 'unsafe-inline' *; img-src 'self' data: *")

  body
    include ../partials/header
    main
      block content
    include ../partials/footer
    script(src="/static/main.js")